[2015-10-01 10:13] tbechtum opened #3 "Example wrong SnapKit project path"
Could not easily look at your sample project while the SnapKit project is included with a wrong path reference: There's a ../ too much. I had to copy the SnapKit into the directory above in order to be able to build. Could you resolve this?
Thanks a lot, cheers,
Thomas

[2015-10-01 10:34] rasmusth commented on #3
Yes, I'll fix it tonight. Sorry for the inconvenience :)

[2015-10-01 17:56] #3 closed

[2015-10-01 17:57] rasmusth commented on #3
@tbechtum Thanks for raising this issue. I hope you enjoy working with the project.

[2015-10-14 14:17] lfb-cd opened #4 "OS X to iOS"
May I ask some questions?
I want my iPhone connect to my mac.which one do you think should be my Peripheral?
And I want to keep running in background,so my mac app could connect with my iPhone(From a distance to close),how can I deal with this? thank you.

[2015-10-14 17:14] rasmusth commented on #4
Of course you may.

The device that is supposed to be connected to is the peripheral.

From a distance to close, how do you mean?

[2015-10-14 23:49] lfb-cd commented on #4
If take away my iPhone,Because I want my driver could connect

[2015-10-19 07:03] rasmusth commented on #4
Provided that you've set the appropriate values in your info.plist file, the connection will continue running in the background. I suggest you read the following: https://developer.apple.com/library/ios/documentation/NetworkingInternetWeb/Conceptual/CoreBluetooth_concepts/CoreBluetoothBackgroundProcessingForIOSApps/PerformingTasksWhileYourAppIsInTheBackground.html

Once you lose a connection to a

[2015-10-19 21:09] rasmusth commented on #4
Please close this issue if you find my answer okay.

[2015-10-19 22:15] yoavschwartz commented on #4
Did you think about adding support for it? Also maybe adding support for aggressive reconnection (sort of pairing) . I would love to help.

[2015-10-20 03:26] felix-dumit opened #5 "Support for Beacon Advertising"
I couldn't find support for starting a Peripheral that advertises with iBeacon data.
Maybe there could be a `BKPeripheralConfiguration` for advertising iBeacon.

Also, is it currently possible to start advertising and already set the data for certain characteristics? I'm considering using this in my app, but in my scenario the peripheral doesn't send the data to the centrals, but rather makes avai

[2015-10-20 06:16] #4 closed

[2015-10-20 06:51] rasmusth commented on #5
Hi Felix.

Thanks for your questions and proposals.

In order to broadcast as an iBeacon, it'd have to be possible to override the advertisement dictionary, probably on the BKPeripheralConfiguration. This could probably make sense, but I'm not sure if BluetoothKit in that case would be overkill compared to CoreBluetooth alone. What do you think?

It isn't possible to model characteristics as propo

[2015-10-20 06:55] rasmusth commented on #4
It is a possibility but I am not sure how passing identifiers to the framework, when the application is launched with them should work. If you have ideas you're welcome to share.

Aggressive reconnection isn't a concept I'm familiar with, but I expect it to be self-explanatory, in which case you can simple try to connect with a short timeout and then try again repeatedly? I do not think this shoul

[2015-10-20 07:12] rasmusth opened #6 "Allow usage of BKScanner without a BKCentral"

[2015-10-20 07:20] rasmusth opened #7 "Introduce a combined peer (possibly BKCombinedPeer)"
A combined peer will take on both the peripheral and central roles and thereby allow for connected devices serving as combined peers to pass data both in-between them, both ways, at the best possible transfer rates.

[2015-10-20 07:44] yoavschwartz commented on #4
It's not a concept your'e familiar with because I couldn't find better words for it. I didn't want to use "Bonding" or "Pairing" because it would be misleading. But as per apple's recommendation, you could mimic Continuity or the iWatch type of connection, by asking to reconnect every time you disconnect from a device. Connection requests don't time out on purpose, so you could reconnect even a we

[2015-10-20 08:48] rasmusth commented on #4
Okay, you did manage to explain yourself very well. You are correct, this is how you mimic the automatic pairing with BLE on iOS.

Maybe it would actually make sense to have a configuration option on a BKCentralConfiguration object to enable automatic reconnection after disconnects and an optional restoration identifier. As the connect call on BKCentral is concluded by a closure, we'd have to intr

[2015-10-20 09:23] yoavschwartz commented on #4
Yeah, I am currently working on a project with a bluetooth lock, I noticed that many times my code turns out similar to yours, I would love BluetoothKit to reach a place where I can use it to replace CoreBluetooth in my project :) I became so frustrated from Apple's delegate pattern and quirks I have even made an attempt at porting CoreBluetooth to PromiseKit ;) I will spend the weekend familiariz

[2015-10-20 09:25] rasmusth commented on #4
Sounds cool. Are you on LinkedIn or similar?

[2015-10-20 09:30] yoavschwartz commented on #4
On a side note, I think maybe theres also a place for a feature that would abstract away the re descovering flow of retrievePeripheralsWithIdentifiers -> retrieveConnectedPeripheralsWithServices -> scan for x seconds.
In my code I called it "findPeripheralWithTimeout" (In my code I use the device name, but I assume other people may have other needs so maybe it should accept a predicate of the form

[2015-10-20 09:31] yoavschwartz commented on #4
https://dk.linkedin.com/in/schwartzyoav

[2015-10-20 09:36] rasmusth commented on #4
I was actually considering this. I am not sure if I like the idea of the framework persisting things to disk, but it may be okay.

[2015-10-20 09:42] yoavschwartz commented on #4
I agree, I would probably put it under the BKCentralConfiguration, maybe a "shouldCacheUUIDs" or something, but I would enable it by default. After all, UUID's are device specific so it's junk info for anyone else. I assume most people will connect to a device more than one time and they don't care how you find it. And I don't think you need to go through the entire Apple doc to figure out that if

[2015-10-20 09:49] rasmusth commented on #4
You are correct. In that case I think we should make a dedicated folder for it in the documents folder and make it possible to change the folder in which the defaults are saved.

[2015-10-31 09:29] matteocrippa opened #8 "tvos support"
tvOS is pretty new and as far as I figured out some feature are not available (yet), but do you plan to add support for it next releases even for cocoapods auto install?

[2015-10-31 09:39] rasmusth commented on #8
Let me look if I can add a target for that quickly.

[2015-10-31 09:41] matteocrippa commented on #8
Yep, the unique thing is that I'm pretty aware of some functions available in iOS are disabled/removed in tvOS - https://developer.apple.com/library/prerelease/tvos/releasenotes/General/tvOS90APIDiffs/

[2015-10-31 12:05] rasmusth commented on #8
@matteocrippa I do not have the new Apple TV yet. But this new target does build. It only supports taking the central role though, as that is all that is allowed by tvOS.

[2015-10-31 12:39] rasmusth commented on #8
It won't work with Cocoapods. I'll have to split it into subspecs, which probably makes sense anyhow, as you'll most likely often only want to be either a peripheral or a central on one device.

[2015-10-31 15:13] matteocrippa commented on #8
@rasmusth i'll give a try next week back work with the atv dev kit, 'll keep you posted!

[2015-11-03 20:15] rasmusth commented on #8
@matteocrippa !

[2015-11-03 20:36] matteocrippa commented on #8
@rasmusth i was out of office in those last few days, hopefully tomorrow i'll be back in the office

[2015-11-25 14:09] rjgdesign commented on #8
Any update? Awesome library, would love to use it with tvOS! :)

[2015-12-03 08:22] rasmusth commented on #8
@rjgdesign Please check out the development branch and test if it works with the tvOS target. I don't have an Apple TV.

[2015-12-15 01:48] DigitalD1982 opened #9 "2 way communication"
Hi there,

As far as I can tell there is no way to have 2 way communication with BluetoothKit today. Is this possible and on the roadmap?

Thanks, enjoying BK so far! Just ran into a road block though with the 2 way communication.

[2015-12-15 04:31] kswain1 opened #10 "BKPeriphial Protocol"
I am following the example of setting up a peripheral, and I am stuck when adding the BKPeriphial to my view controller class. How do I implement the BKPeriphialController Protocol?

[2015-12-17 07:13] rasmusth commented on #10
Hi kswain1.

There is nothing in the framework called BKPeripheralController Protocol. What exactly are you referring to?

[2015-12-17 07:17] rasmusth commented on #9
Hi @DigitalD1982.

First of all thanks for using the framework.

You are correct in your observation there. See #7.

Due to the fact that there is no support for CBCentralManager on tvOS though, I think I'll revise the approach and implement sending data from the BKCentral object as well. I will have to ensure though, that the throughput is good enough first. You are very welcome to help if you ha

[2015-12-18 01:28] kswain1 commented on #10
I had to add the BKPeripheralDelegate functions below to use a peripheral object in my class

 // MARK: BKPeripheralDelegate

    internal func peripheral(peripheral: BKPeripheral, remoteCentralDidConnect remoteCentral: BKRemoteCentral) {
        Logger.log("Remote central did connect: \(remoteCentral)")
        sendDataBarButtonItem.enabled = true
    }

    internal func peripheral(peripheral: B

[2015-12-18 01:28] #10 closed

[2016-01-18 18:33] tastyapp opened #11 "Bluetooth LE not available or calling scan and/or connect before available"
I really appreciate that you share this amazing looking library. I downloaded the example project and ran it on a real device. But there is an issue with the bluetooth "Unsupported" or "Unavailable". The bluetooth on the device is active and the error says:
Error from scanning: InternalError(Optional(BluetoothKit.BKCentralStateMachine.Error.Transitioning(BluetoothKit.BKCentralStateMachine.State.Un

[2016-01-20 19:22] rasmusth commented on #11
Hi there.

In that case your device probably doesn't support Bluetooth LE. Which device do you have?

[2016-01-20 19:24] tastyapp commented on #11
I'm using an Iphone 6 and an Ipad 2

[2016-01-20 19:35] rasmusth commented on #11
The iPad 2 doesn't support Bluetooth LE. iPhone 6 does, please ensure that Bluetooth is on.

[2016-01-29 10:23] aakashs opened #14 "Scanning for identifier other than UUID"
Hi

Would it be possible to scan for an identifer other than the device UUID? For example, I was thinking about keying off of the user's phone number. Would this be problematic due to security issues?

Thank you for all the help!

[2016-01-29 10:24] rasmusth commented on #14
Hi Aakash.

Unfortunately this isn't possible due to the nature of Apple's CoreBluetooth.

[2016-01-29 10:26] aakashs commented on #14
Interesting, thank you!

[2016-01-29 10:26] #14 closed

[2016-02-10 11:59] dimohamdy opened #15 "sendData from Central"
How i can send data from central?

[2016-02-10 21:59] cpatterson opened #16 "Multiple characteristics per service"
If I'm reading things correctly, it looks like BluetoothKit as written only supports a single characteristic per service. Is that correct?

If so, that's a rather crippling limitation on an otherwise well-designed library. I'm working on a project designing a new BLE device and app, with a complex custom BLE service with multiple read/write characteristics.

[2016-02-11 07:56] Xerosigma commented on #15
It would appear it is not possible with this library: https://github.com/rasmusth/BluetoothKit/issues/7

:cry:

[2016-02-11 08:18] rasmusth commented on #15
You're welcome to implement it and send a pull request. Otherwise I will implement it sometime this month.

[2016-02-11 09:53] dimohamdy commented on #15
i try to make it soon

[2016-03-12 20:41] davidmaitland commented on #16
I'm wondering the same thing, any response to this yet?

[2016-03-14 09:52] rasmusth commented on #16
Hi guys.

Sorry for not responding to you any quicker.

Thank you for your interest in the framework and I am glad you like its architecture.

The reason for the fact that the framework only supports its own built-in characteristic, is that it is built for iOS device <-> iOS device communication in a much easier way than achievable using CoreBluetooth. If the framework was to support other custom

[2016-03-17 09:11] #16 closed

[2016-03-22 20:07] matthewkrueger opened #18 "peripheral.sendData very slow if NSData is larger than a few bytes"
Hi there - love the library so far.

Using the example application, I have been experimenting with reading a file to NSData, then sending the NSData using the "sendData" method.

However, if the NSData I'm sending is even a few KB, the transmission takes a very, very long time.  For a 250KB NSData, I'm seeing times around 1-1.5 minutes to do the transfer.  Am I doing something wrong, or is this a

[2016-03-22 20:09] rasmusth commented on #18
Unfortunately you'll find that this is a limitation of Bluetooth LE, spiced up by further limitations applied by iOS to the throughput available to each application :)

[2016-03-22 20:11] matthewkrueger commented on #18
That's unfortunate.  Is a transfer time of 1-1.5 minutes for 250KB of data in line with what you've seen in the past?  I tried slowing increasing the size of my file and it seems the slowdown is linear, so I don't think I'm doing anything especially wrong.  Thanks for the fast reply, much appreciated!

[2016-03-22 20:19] rasmusth commented on #18
Unfortunately, that sounds like very reasonable throughput. In previous iOS versions this was way worse. My suggestion would be to place the resource on some external location using a network connection and passing an address for it using the Bluetooth link. Of course I don't know your use-case so I'm just guessing away.

[2016-03-22 20:22] matthewkrueger commented on #18
Unfortunately, the use-case requires transferring a binary file from a device with BLE but no internet connection to an iOS device, and THEN uploading the binary file to the web using the iOS device's internet connection.  Doing a proof of concept using an iPad as the peripheral and iPhone as the central, so I have to pretend like the iPad has no network connection.  Sounds like I'll have to tempe

[2016-03-22 20:23] rasmusth commented on #18
You're welcome. Feel free to ask again.

[2016-03-28 19:55] ptigas opened #19 "multiple services and characteristics"
From my understanding, it doesn't support multiple services UUIDs. Do you have any plans to support this in the future?

[2016-04-01 08:32] cguotju commented on #11
Same problem here on iPhone6. Plus, when I'm using the UUID 6E400001-B5A3-F393-­E0A9-­E50E24DCCA9E , it gives me a nil.

[2016-04-01 08:51] rasmusth commented on #11
@cguotju Which error do you get?

[2016-04-04 21:59] alejandrolagosr opened #20 "It is possible to connect multiple Bluetooth LE devices like an ecosystem or network?"
I'm thinking in a project that connects multiple Bluetooth devices like Tile or Tracker.

[2016-04-05 08:19] rasmusth commented on #20
Sure it is, but it doesn't really make sense for the library's architecture.

[2016-04-05 20:55] nsleader commented on #11
Same problem on iPhone 6 iOS 9.3.1

    let central = BKCentral()
    central.delegate = self
    do {
            let serviceUUID = NSUUID(UUIDString: "6E6B5C64-FAF7-40AE-9C21-D4933AF45B23")!
            let characteristicUUID = NSUUID(UUIDString: "477A2967-1FAB-4DC5-920A-DEE5DE685A3D")!
            let configuration = BKConfiguration(dataServiceUUID: serviceUUID, dataServiceCharacteristicUUID: c

[2016-05-01 13:17] 0x5e commented on #11
same problem. iPhone6 iOS 9.3

[code]

[code]

[2016-05-01 13:37] 0x5e commented on #11
@tastyapp @nsleader @cguotju @rasmusth
Found the problem. Scan can't be started immediately after `central.startWithConfiguration(configuration)`

if I startWithConfiguration in viewDidload, and scanContinuouslyWithChangeHandler in buttonClickAction, the error disappeared :-)

[2016-05-02 09:01] rasmusth commented on #11
If this is true I should add a completion handler to the start method. Thanks for the information.

[2016-05-10 04:00] jessepollak commented on #11
I had this same issue and adding a brief delay also worked!

[2016-05-10 10:55] gusthiele commented on #11
@jessepollak
Could you please indicate where did you add the delay?
Thanks!

[2016-05-10 16:35] jessepollak commented on #11
It looked something like this:

[code]

[2016-05-11 06:39] gusthiele commented on #11
@jessepollak
Thank you! I will try it.

[2016-05-11 18:27] nickskull commented on #15
@rasmusth Any update on this? :)

[2016-05-12 09:26] #20 closed

[2016-05-12 09:28] rasmusth commented on #19
No, the idea of this library is to simplify Apple device to Apple device communication. You should model your messaging using objects instead of multiple services and characteristics. If you want to use other devices this library isn't the right fit.

[2016-05-12 09:28] #19 closed

[2016-05-12 09:28] #18 closed

[2016-05-12 09:29] ptigas commented on #19
i see! thanks for the clarification :)

[2016-05-12 09:31] rasmusth commented on #11
This isn't what you're supposed to do guys. You need to add yourselves as availability observers before calling start, once the Bluetooth stack is available for use after calling start, you will be notified. Waiting like you propose there is a hack and it is never guaranteed to become available because it relies on the underlying Bluetooth stack.

[2016-05-12 09:32] rasmusth commented on #11
In addition, this question has evolved a bit. Originally tastyapp asked why it failed for him, it did so because he was using a device without support for Bluetooth LE. Most of you others are experiencing the same kind of issue because you don't use the availability observation functionality.

[2016-05-12 09:33] rasmusth commented on #5
Closing this.

[2016-05-12 09:33] #5 closed

[2016-05-12 09:34] rasmusth commented on #7
Won't implement it like this due to the inavailability of CBCentralManager on tvOS and probably more devices in the future.

[2016-05-12 09:34] #7 closed

[2016-05-12 09:34] rasmusth commented on #8
Fixed.

[2016-05-12 09:34] #8 closed

[2016-05-12 09:34] rasmusth commented on #9
See #15

[2016-05-12 09:34] #9 closed

[2016-05-12 09:37] rasmusth commented on #15
@nickskull This has to be implemented for sure. You are more than welcome to do so, but I require that the MTU is sent from the peripheral to the central and re-used when sending from the central in order to achieve the largest possible throughput.

[2016-05-12 16:06] rasmusth commented on #11
Corrected readme, sorry guys. See commit https://github.com/rasmusth/BluetoothKit/commit/b5751f134ab08a711efbe4067d984af261b9db87

[2016-05-12 16:06] #11 closed

[2016-05-13 06:52] guowen opened #22 "object-c to swift"
Swift can work well. Can you use the object-c to rewrite it？

[2016-05-13 09:29] rasmusth commented on #22
What???

[2016-05-17 16:39] #22 closed

[2016-05-17 21:13] #15 closed

[2016-06-06 01:55] pangpingfei opened #25 "How can I send data from Central to Peripheral?"
Excuse me,  Only supports Peripheral to send data to Central?

[2016-06-06 02:54] #25 closed

[2016-06-13 17:18] Nick-The-Uncharted opened #26 "Two potential bugs."
Thank you for writing this repo which save me a lot of time.
Here are two potential bug I came across:
First, `Core Bluetooth` seems to have a slight chance to call `func centralManager(central: CBCentralManager, didConnectPeripheral peripheral: CBPeripheral)` twice for a single connecting behavior.
Code following may output `core bluetooth bug?` when keeping switching on and off bluetooth.

[code

[2016-06-14 08:25] rhummelmose commented on #26
Hi Nick. Thanks for the report, I will try to reproduce and fix it.

[2016-06-16 02:19] pangpingfei opened #27 "If appoint service uuid, it could't find real devices."
Use "centralManager.scanForPeripheralsWithServices(nil, options: nil)", can discovery all device, but use "centralManager.scanForPeripheralsWithServices(configuration.serviceUUIDs, options: nil)", nothing.

This should be the bug of the official.

[2016-06-16 05:13] pangpingfei opened #28 "fatal error"
internal func centralManager(central: CBCentralManager, didFailToConnectPeripheral peripheral: CBPeripheral, error: NSError?) {
        failConnectionAttempt(connectionAttemptForPeripheral(peripheral)!, error: .Internal(underlyingError: error))
    }

Optional("Optional(TPMS.BKError.InternalError(Optional(TPMS.BKConnectionPool.Error.TimeoutElapsed)))")
fatal error: unexpectedly found nil while unw

[2016-06-20 06:51] rhummelmose commented on #26
It will probably take me a month before I get time to look at this. Please provide a PR if you're able to fix the issue.

[2016-06-20 06:52] rhummelmose commented on #27
It will probably take me a month before I get time to look at this. Please provide a PR if you're able to fix the issue.

[2016-06-20 06:52] rhummelmose commented on #28
It will probably take me a month before I get time to look at this. Please provide a PR if you're able to fix the issue.

[2016-06-20 06:57] Nick-The-Uncharted commented on #26
Okay, I will try to find time to do that, I was just not sure whether I mistake something .

[2016-06-20 08:12] utopianism opened #29 "swift3 support"
is it have plan for swift3?

[2016-06-20 12:24] rhummelmose commented on #29
Yep. You can create a PR if you need it within a few months :)

[2016-06-21 08:37] Nick-The-Uncharted commented on #27
Just make sure your peripheral do boardcasting corresponding service, for example:
[code]
If you are not using this lib for advertising , make sure you have this serviceId in `CBAdvertisementDataServiceUUIDsKey`.

[2016-06-21 10:30] pangpingfei commented on #27
@Nick-The-Uncharted Thanks, but it seems to have no relationship...

[2016-06-21 10:36] Nick-The-Uncharted commented on #27
@pangpingfei Actually I manage to discover my device using this lib in way described above.

[2016-06-21 20:04] rhummelmose commented on #27
@pangpingfei which service UUID are you assigning?

[2016-06-26 08:57] pangpingfei commented on #27
@rhummelmose "05216AFE-02B0-B11E-3B86-60002A5D5C51"

[2016-06-28 14:51] Daij-Djan opened #32 "Add support for chunking of data. Currently read/writes of data that is too long silently fail"
Add support for chunking of data. Currently read/writes of data that is too long silently fail

[2016-06-28 14:52] Daij-Djan commented on #32
e.g. follow https://karp.id.au/a/2015/09/03/reliable-data-transfer-with-ios-bluetooth-le/

Ill look into providing a 'fix' one of these days

[2016-06-28 14:54] rhummelmose commented on #32
It already chunks the data. Can you give me an example where it fails?

[2016-06-29 15:05] Daij-Djan commented on #32
sorry the problem is different and aaaanyway: I was being dumb and lazy here :)
I didn't get the concept of BKSendDataTask(s)

[2016-06-29 15:05] #32 closed

[2016-06-29 15:09] Daij-Djan opened #33 "Question: how to find out when a BKRemotePeripheral is ready for send/receive"
Hi,
I wonder about how to find out when a BKRemotePeripheral is ready for send/receive.

I scanned and discovered it, connected but AFAICS I need to wait for the discovery of its services and characteristics before I sendData..

I wonder if there already is a mechanism or if I should provide a delegate function on BKRemotePeripheralDelegate for it?

[2016-06-29 15:10] Daij-Djan commented on #33
if I use sendData to early, dataCharateristic is nil - obviously ;) and It fails. btw I made the SendDataTask consider that - before it failed silently.

[2016-06-29 20:53] rhummelmose commented on #33
Makes sense. Another event should be omitted or it shouldn't make the connected callback before services and characteristics are discovered.

[2016-08-27 18:40] dicristomanuel opened #42 "Question: setup mac as bluetooth keyboard"
Is it possible with BluetoothKit to vend a bluetooth service from desktop to mobile to use the mac as a keyboard?

[2016-08-29 16:08] marvelousmishig opened #43 "Question: Can BluetoothKit advertise and scan when the app enters background mode?"

[2016-08-30 07:34] rhummelmose commented on #43
Please read the following:
https://developer.apple.com/library/ios/documentation/NetworkingInternetWeb/Conceptual/CoreBluetooth_concepts/CoreBluetoothBackgroundProcessingForIOSApps/PerformingTasksWhileYourAppIsInTheBackground.html

Short answer: Yes, depending on what you put in the info plist and how much power your app consumes compared to the state of resources on the device.

[2016-08-30 07:36] rhummelmose commented on #42
Interesting question. If you need to vend an already defined standard keyboard service, then the answer is no. BluetoothKit defines its own service that is used for transferring arbitrary data.

[2016-08-30 14:21] dicristomanuel commented on #42
Gotcha. I'm still in the bluetooth learning process but I'm pretty sure that there is a defined keyboard service for the Mac keyboard. Maybe if I find its specifications I can create a service with BluetoothKit? Thanks for your answer @rhummelmose!

[2016-08-30 18:23] rhummelmose commented on #42
No problem. BluetoothKit is an abstraction that makes it easy to transfer data back and forth between devices, removing the need for dealing with services, characteristics, descriptors and so forth. Unfortunately this also means that you won't be able to use BluetoothKit for what you're aiming for.

[2016-08-30 18:25] #42 closed

[2016-09-07 16:32] buidinhduong opened #44 "Scanning false when config with CBUUID example: "0xCBBB""
instead of configuration with NSUUID 128 bit (example : "**6E6B5C64-FAF7-40AE-9C21-**D4933AF45B23"), i want to set up with CBUUID like  "**0xCBBB**" but the Central scanning interrupted  many times. and can not sending data.
Please help

[2016-09-08 11:01] yhelfronda opened #45 "Question: Is it possible to print barcode/qr code using Bluetooth Kit?"
Hi,

Is it possible to print qr code/barcode using this library? If so, can you please guide me 'cause we are planning to make an app which has feature like qr code/barcode printing. Or it's a pleasure if you can provide an example?

Many thanks!

[2016-09-08 11:02] rhummelmose commented on #45
Are you kidding me?

[2016-09-08 11:06] yhelfronda commented on #45
Nope.

[2016-09-08 11:06] rhummelmose commented on #45
Have you read the readme?

[2016-09-08 11:11] rhummelmose commented on #44
Hi.

Why do you want to set it up with a CBUUID?

If necessary you can convert it from a CBUUID to and NSUUID. See the following for reference:
http://stackoverflow.com/questions/36212020/how-can-i-convert-a-bluetooth-16-bit-service-uuid-into-a-128-bit-uuid

[2016-09-08 11:12] yhelfronda commented on #45
Yeah! But how? The given example is just texts.

[2016-09-08 11:14] rhummelmose commented on #45
BluetoothKit is an abstraction over CoreBluetooth. Why do you think it supports anything related to QR-codes and barcodes?

[2016-09-08 13:30] calebkleveter commented on #45
Is the question "Can you send QR and bar codes to other devices using this library?"?

[2016-09-09 00:22] yhelfronda commented on #45
@calebkleveter What I mean is, can you print qr or bar code to bluetooth printing device instead of just printing 'texts', just like printing receipts.

[2016-09-09 12:02] rhummelmose commented on #45
Sorry but you are misunderstanding what this framework is trying to solve. What you need is CoreBluetooth and a description of the service on the printing device that you are trying to communicate with.

[2016-09-09 22:59] #43 closed

[2016-09-12 14:10] calebkleveter commented on #33
Seems this thread can be closed now.

[2016-09-13 07:15] #33 closed

[2016-09-19 20:24] calebkleveter opened #47 "Merging Swift 3"
Now that Xcode 8 and Swift 3 have been officially released, should we merge the swift-3 branch into master?

[2016-09-20 08:02] rhummelmose commented on #47
Yes. Do you have the access to perform the change, then you are welcome to do so?

[2016-09-20 12:43] calebkleveter commented on #47
I cannot perform the merge myself. I would have to submit a PR. https://github.com/rhummelmose/BluetoothKit/pull/48

[2016-09-21 08:56] lfarah commented on #47
Would love to have this lib in Swift 3.....

[2016-09-22 09:50] Daij-Djan opened #49 "ios10: CBCentralManagerState and CBPeripheralManagerState merged to CBManagerState"
Hi

on ios10 apple merged CBCentralManagerState and CBPeripheralManagerState into CBManagerState
they basically renamed the enum... I added a workaround... I use the rawValue and then create the enum again

e.g.
let newCause = BKUnavailabilityCause(centralManagerState: CBCentralManagerState(rawValue: central.state.rawValue)!)

to

[2016-09-22 13:29] Daij-Djan opened #50 "ios10: removed willRestoreState delegate so we get no warning about missing restorationID"
Hi,
for ios10: removed willRestoreState delegate so we get no warning about missing restorationID

//    internal func peripheralManager(peripheral: CBPeripheralManager, willRestoreState dict: [String : AnyObject]) {
//        // print("peripheralManager: \(peripheral) willRestoreState: \(dict)")
//    }

[2016-09-27 13:36] #47 closed

[2016-09-27 13:40] calebkleveter commented on #29
@utopianism , the version for Swift 3 has been released, but I think you have to get that version through GitHub as it has not been pushed to CocoaPods as far as I know.

    pod 'BluetoothKit', :git => 'https://github.com/rhummelmose/BluetoothKit.git'

[2016-09-28 07:17] rhummelmose commented on #29
Correct, I will push it to CocoaPods

[2016-10-03 18:34] lou-lan commented on #29
I still have some mistakes in swift3.
<img width="1348" alt="2016-10-04 2 34 18" src="https://cloud.githubusercontent.com/assets/13095837/19048982/16743692-89db-11e6-81bb-19f25f324679.png">

[2016-10-03 18:59] lou-lan commented on #45
You need to make an agreement with your hardware so that you can quickly develop。

[2016-10-06 00:28] 3ph opened #53 "Swift3 branch requires iOS 10+ now"
Is there any reason for this?

[2016-10-06 12:39] calebkleveter commented on #53
Yes. Apple merged the two classes `CBPeripheralManager` and `CBCentralManager` in to one class, `CBManager`. `CBManager` is only available in iOS 10, so you are going to need that latest iOS SDK to develop with Bluetooth. This means you will need to install Xcode 8.0.

[2016-10-06 18:57] 3ph commented on #53
Hi, can you point me to where did you find this? Only changes in API I could find is that CBManager is new superclass of the CBPeripheralManager and CBCentralManager. The state was moved there, nothing else.

Neither of these classes were deprecated. Could find any reason why the drastic change of deployment target was necessary?

Thanks

[2016-10-07 09:59] HoonAhn commented on #29
When i typed
$ pod install
this error comes up
Analyzing dependencies
[!] The dependency `BluetoothKit (from `https://github.com/rhummelmose/BluetoothKit.git`)` is not used in any concrete target.

what should i do?

[2016-10-07 12:43] calebkleveter commented on #29
@HoonAhn , you should open a different issue for this.

[2016-10-09 07:21] erparker commented on #50
Also curious about this. Are there plans to add state restoration into the Swift 3 version?

[2016-10-10 06:33] rhummelmose commented on #50
Create a PR

[2016-10-18 06:04] mrdavidrees commented on #53
resolved in #54

[2016-10-18 06:04] mrdavidrees commented on #50
resolved in #54

[2016-10-21 06:27] rhummelmose commented on #53
Thanks @mrdavidrees!

[2016-10-21 06:27] #53 closed

[2016-10-21 06:28] rhummelmose commented on #50
Thanks @mrdavidrees!

[2016-10-21 06:28] #50 closed

[2016-10-21 06:53] #26 closed

[2016-10-21 06:53] #28 closed

[2016-11-07 03:03] SelfnessAid opened #57 "Couldn't work properly on iOS 10."
I'd like to use this framework for my app, but I faced following issue on IOS10 with Swift3.0.

Also I checked this on iOS 9(XCode 7.3, iPhone 5s, Gimbal Beacon Series 21) , but occurred the same issue.
(I tried with this framework [https://github.com/tinydream12/Bluetoothkit](https://github.com/tinydream12/Bluetoothkit), but the same result.)

Does anyone know how to avoid this?
Thank you.

[2016-11-08 19:37] rhummelmose commented on #57
Please show your code?

[2016-11-10 02:48] SelfnessAid commented on #57
- _CentralViewController.swift_ in the BKExample
[code]

- _BKCentral.swift_ in the BluetoothKit

[2016-11-13 11:40] olivier38070 opened #58 "fail to build with carthage"
Hi,

using this line, in my cart file
github "rasmusth/BluetoothKit" ~> 0.2.0
using carthage v 0.18.1, Xcode 8.1, Sierra 10.12.1

fail, with a dependency error code 65.
the log is long, I can provide it, if needed.

I noticed that in the checkout folder, the bluetooth project seem to be in swift 2...

if I download the project, manually, from github : it compile straight away.

thanks for any help

[2016-11-14 08:48] rhummelmose commented on #58
It is due to the fact that no new version has been released. I will do it within a weeks time. Sorry for the inconvenience.

[2016-11-15 06:08] DerekK19 opened #59 "Peripheral switches off, Central doesn't react correctly"
My Peripheral is a Mac app and my Central is an iOS app. I would think that when my central is connected to a peripheral, if that peripheral is switched off (i.e I quite the Mac app) the central should recognise the peripheral has disconnected.

In fact the following is logged in my Xcode console when I'm debugging my Central

2016-11-15 19:01:39.337791 MyApp[5707:2457596] [CoreBluetooth] WARNING:

[2016-11-15 06:11] DerekK19 commented on #58
I had the same, so I referenced the development branch directly:

github "rasmusth/BluetoothKit" "development"

[2016-11-15 08:58] rhummelmose commented on #59
@DerekK19 I will look into this now. I haven't tested on macOS, seems it behaves differently from iOS and tvOS. Sorry.

[2016-11-15 09:26] rhummelmose commented on #59
@DerekK19 realising now that I'll need an example project for Mac. Will probably take a day or two.

[2016-11-28 12:08] BottleMan commented on #57
I have just met the same error, and when I dig into the code and find out that the state is 'scanning' in this function:

[code]

in BluetoothKit > Source > BKCentralStateMachine.swift > line99.

Could anyone give some advice?

[2016-11-28 18:07] rhummelmose commented on #57
Isn't it just calling scan twice? I think it is just the example app that does that, it is no problem.

[2016-11-30 09:32] rhummelmose commented on #57
@BottleMan ?

[2016-12-02 04:54] BottleMan commented on #57
@rhummelmose sorry for replying late, I just comment the 'scan' method in viewDidAppear and it goes alright.

[code]

[2016-12-02 08:04] rhummelmose commented on #57
Then it won't always start scanning when you navigate back and forth. That is why it is there :)

[2016-12-04 15:59] Hustenbonbon opened #61 "CocoaPods release is not compatible with Swift 3"
Hey, great work as it seems!

Unfortunately, it seems to me that you integrated Swift 3 support, but you didn't release it to CocoaPods yet, is there a specific reason for that?

Cheers!

[2016-12-05 09:16] rhummelmose commented on #61
Because I haven't created a release yet, sorry. Will do it today.

[2016-12-07 07:11] indrajitsinh commented on #61
any update ?

[2016-12-15 09:33] tomneo2004 opened #62 "InternalError"
I try out BluetoothKit. I encounter that I always get InternalError(BKError) in callback after trying to scan Peripheral. I have no idea where it goes wrong? Can anyone help?  Below code is in UIViewController

`

    let peripheral : BKPeripheral = BKPeripheral()
    let central : BKCentral = BKCentral()

    override func viewDidLoad() {
        super.viewDidLoad()
        // Do any additional s

[2016-12-15 11:13] Appsido commented on #61
Hey, that would be really nice to push swift 3 to cocoapods.

[2016-12-15 13:15] michaelom commented on #61
any update on the release?

[2016-12-15 13:15] rhummelmose commented on #61
Give me an hour :)

[2016-12-15 13:47] rhummelmose commented on #61
Fixed!

[2016-12-15 13:47] #61 closed

[2016-12-15 13:48] Appsido commented on #61
👍

[2016-12-24 12:55] Daij-Djan opened #63 "the pod 0.4.0 isn't available via cocoapods"
Hi
the pod 0.4.0 isn't available via cocoapods

plz add it :)

[2016-12-28 16:22] Daij-Djan commented on #63
cocoa pods now reflects it alright.

[2016-12-28 16:22] #63 closed

[2017-01-09 10:21] iCodist commented on #27
Why can not BKCentral find nearby Bluetooth devices?

[2017-01-09 10:56] rhummelmose commented on #27
Probably because they are using a different identifier.

[2017-01-09 11:00] iCodist commented on #27
@rhummelmose How to solve this problem？

[2017-01-16 00:57] bleeckerj opened #65 "Update Readme"
For cocoapods, your short useful note on how to specify BluetoothKit in the Podfile specifies version 0.2.0 — I believe it should be 0.4.0.

[2017-01-18 04:45] ibrahimuslu commented on #65
Thank you, it helped me .

[2017-01-18 12:58] rhummelmose commented on #65
See #ef103b5

[2017-01-18 12:58] #65 closed

[2017-01-18 12:59] rhummelmose commented on #65
And thanks @bleeckerj for the heads-up :)

[2017-01-22 21:55] ibrahimuslu commented on #11
Error from scanning: internalError(Optional(BluetoothKit.BKCentralStateMachine.BKError.transitioning(BluetoothKit.BKCentralStateMachine.State.scanning, [BluetoothKit.BKCentralStateMachine.State.available])))

same problem in 0.4.0 version.

Could you please give a hand to this problem.

[2017-01-22 21:57] ibrahimuslu commented on #11
Ok i found the problem is still there because you left scan() in viewDidAppear

[2017-01-23 15:16] rhummelmose commented on #11
@ibrahimuslu Correct. The thing is, it isn't actually a problem, because the error doesn't cause anything to fail.

[2017-02-03 11:31] #29 closed

[2017-02-26 14:43] dneykov opened #66 "Continues RSSI read before connecting to peripheral"
Is is possible read RSSI value of scanned peripheral multiple times before connecting to it?

Thanks.

[2017-02-26 19:32] #66 closed

[2017-03-08 02:35] foreignmedia opened #67 "Cleaner access to Characteristics & Changes"
Would be great if we could access the characteristics and get change notifications via the BKRemotePeerDelegate. Right now it looks like the configuration is locked down. This would help greatly with more advanced devices that switch characteristics based on the mode they're in.

[2017-03-08 02:50] rhummelmose commented on #67
The device you talk about, is that another Apple device running BluetoothKit? Otherwise you are probably looking at the wrong framework. It would require extensive work to make the framework useful for arbitrary devices and then there wouldn't be much simplicity gain over Apple's CoreBluetooth.

[2017-03-08 19:43] foreignmedia commented on #67
Apple and others. Not looking for anything crazy, just access to the advertised characteristics array of a given remote. Great lib, by the way.

[2017-03-08 19:46] foreignmedia opened #68 "Warning for CBPeripheral delegate re: didModifyServices"
I'm getting a CoreBluetooth warning:

`[CoreBluetooth] WARNING: The delegate for <CBPeripheral: 0x1740ede00, identifier = 11897F77-4927-47DC-BDE6-B4F9707530C5, name = iPhone, state = connected> does not implement -[peripheral:didModifyServices:]`

Looks like it just needs an implementation in the `BKCBPeripheralDelegateProxy `

[2017-03-13 10:50] rhummelmose commented on #68
Thanks for this information. I will implement this.

[2017-03-13 10:53] rhummelmose commented on #67
Thank you. You are correct in that the lib could be modified to support this, the only thing you need to be aware of is that the lib also has a level of logic in place to chunk data if it is larger than what is possible in current context. If you have time available you are more than welcome to help implementing and creating a pull request.

[2017-03-26 15:39] nladuo opened #70 "Delay of Sending or Receiving data to BLE Device?"
I am using the BLE CC2541 module to interact with my arduino device.

For testing, I connected the TxD pin and RxD pin directly for that I can get the same data when I send data in iOS App.

Like this:
![](http://nladuo.github.io/issue_imgs/BluetoothKit_69/ble.png)

First, I used the Example of this repository. After I modified the UUID of service and characteristic, I successfully scanned my BLE

[2017-03-29 07:05] donly commented on #62
same issue here

[2017-03-29 10:19] rhummelmose commented on #62
@tomneo2004 which error do you get?

[2017-03-29 10:22] rhummelmose commented on #70
Who is sending the data that you receive there, the external device? I would suggest that you look into why it only sends you that data once.

[2017-03-30 02:26] nladuo commented on #70
Yes, it is a external device, a [UART Transceiver Serial Module](https://www.amazon.com/JT-Tech-Bluetooth-Transceiver-Baseboard/dp/B01MZBS4FD/ref=sr_1_4?ie=UTF8&qid=1490840541&sr=8-4&keywords=uart+ble). When I connected the RxD Pin and the TxD Pin and then sent data to this device,  this device would send the data what it had received simultaneously.

[2017-03-30 05:15] rhummelmose commented on #70
Could be that the device doesn't support receiving as big chunks as the iOS device.

[2017-03-31 05:09] nladuo commented on #70
It has a objective-c based sample and works well. I want to migrate it to swift-based one.

[code]

[2017-04-05 07:42] nhatlee commented on #70
I faced the same problem when try to send photos between two devices.It's 50% failed, and need to wait so long to receive the photo.

[2017-04-05 07:54] rhummelmose commented on #70
@nhatlee BLE isn't made for transferring large files, hence the speed. I haven't encountered these issues, I will try to reproduce.

[2017-04-07 13:16] BluePick opened #71 "Not able to connect\communicate os x to iOS device."
Create Mac as Central and iPhone app as peripheral but app can not connect.

[2017-04-26 17:03] thierrybucco opened #73 "How to subscribe to a characteristic?"
Hi,

is there a way to subscribe to a characteristic?

thanks.

[2017-05-01 06:32] rhummelmose commented on #73
You can't and are not supposed to in this framework.

[2017-05-01 06:32] #73 closed

[2017-05-18 11:53] hisavali commented on #16
Thanks @rhummelmose for your hard work to create this framework.

It'd would nice to mention above limitations in readme file.

[2017-05-19 07:13] rhummelmose commented on #16
@hisavali It is stated as the feature of the framework in the readme???

[2017-07-21 12:08] dorucazan commented on #44
Hi,
I had same issue since I am trying to work with a HC-05 bluetooth module. I kind of "solve" it overloading init in BKConfiguration class with CBUUID params (-:

[code]
and then use it like:

[code]

[2017-08-19 11:43] dorucazan opened #74 "Background scanning"
Hi,
I tested BluetoothKit background scanning and I could not make it work. The issue I have encountered is that `scanContinuouslyWithChangeHandler` actually scans for <default> 3 seconds, pauses for `inBetweenDelay` of 3 seconds and starts again. Scanning and pause interval are implemented using timers that do not work in background with phone locked.
Info.plist has correct keys since after chang

[2017-08-25 08:07] rhummelmose commented on #74
Hi.

I don't think it is possible to scan in the background like this. If you need this kind of functionality you will have to use Apple's CoreBluetooth functionality that allows for waking up an app when a connection to a peripheral is restored.

[2017-09-06 09:18] solidcell opened #75 "Possible typo/issue FYI"
I just came across this typo (or what seems to be a typo).  Just FYI.

You're passing the `oldCause` as the `newCause` and vise versa.

https://github.com/rhummelmose/BluetoothKit/blob/bfd0fc1a0adfbc594bd5142cb94b0952bdc69534/Source/BKPeripheral.swift#L210

[2017-10-04 20:43] Mylittleswift commented on #71
@BluePick just using Bluetoothkit or CoreBluetooth cannot pair to each other,  here is the explanation: https://discussions.apple.com/docs/DOC-7722
You need to [Use Continuity to connect your Mac, iPhone, iPad, iPod touch, and Apple Watch](https://support.apple.com/en-us/HT204681)

[2017-10-15 03:54] ericwastaken opened #77 "BKPeer sendData, tasks get stuck when the sendDataTasks array hold more than 1 task."
The code in BKPeer.swift, `sendData` is as follows after a task is added to the sendDataTasks array
[code]

This processes the tasks if there's exactly 1 task in that array. Unfortunately, when you have multiple peers and/or you're sending a several data tasks, the array will grow past 1 and the `processSendDataTasks()` is never called.

The code should be:
[code]

I'll follow this with a PR to ad

[2017-10-18 03:33] qingqinghebiancao opened #79 "Xcode 9.0.1 can not pass compile"

[2017-10-18 04:10] qingqinghebiancao commented on #79
This morning I updated Xcode to 9.0.1 and found the BluetoothKit library can not pass the comilation.
![image](https://user-images.githubusercontent.com/5837875/31700594-0ae5c4aa-b390-11e7-80df-8dfee3b2ef16.png)

[2017-10-18 06:52] #79 closed

[2017-10-18 14:18] aloveric opened #80 "Xcode 9 and iOS 11 support?"

[2017-10-23 07:39] qingqinghebiancao commented on #11
Just as @rhummelmose said, we should start scan operation when BLE is available.
[code]

[2017-10-24 12:55] Heroex commented on #80
its not working for me - peripherals are empty when scanning. Please help?

[2018-01-31 15:43] amani-mohammad opened #86 "CBCentralManager is always poweredOff on iOS 11"
I have installed the latest update of the code but I am facing a serious problem when I try to connect on iOS 11.0+ devices.

Every time I receive a message that says: 'Please turn on Bluetooth to connect to the device'. I have traced the code and it seems that the CBCentralManager state is always poweredOff.

I tested BLE connection on the same iOS 11 device with other apps and it works fine. Som

[2018-02-26 10:33] KanybekMomukeyev opened #87 "ipad 2 Bluetooth Unavailable (Unsupported)"
Hi, thanks for great library!
But why on iPad 2 this library is not working,
have issue like this: Bluetooth Unavailable (Unsupported)

[2018-02-26 10:50] rhummelmose commented on #87
Probably because iPad 2 doesn’t support BLE 😊

R.

From: Kanybek <notifications@github.com>
Sent: 26. februar 2018 11:34
To: rhummelmose/BluetoothKit <BluetoothKit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [rhummelmose/BluetoothKit] ipad 2 Bluetooth Unavailable (Unsupported) (#87)

Hi, thanks for great library!
But why on iPad 2 this library is not working,
have i

[2018-02-26 12:19] KanybekMomukeyev commented on #87
@rhummelmose thanks for reply, you are correct!
Here more information: https://www.iphonefaq.org/archives/973945

[2018-02-26 12:19] #87 closed

[2018-02-26 21:04] danloughney commented on #87
The general rule is that if the device has a Lightning connector then it will work with BLE apps. The exception is the original iPad mini, which really is a shrunken down iPad2.

[2018-04-23 02:53] iDalink commented on #86
Yes, It happens to me also.
If you close bluetooth in control center , and you open bluetooth in setting, you will always receive poweroff state. You should open bluetooth in control center also.
I am confused with this problem.

[2018-08-23 05:31] BluePick commented on #71
Thanks for information

[2018-08-23 05:31] #71 closed

[2018-09-21 20:19] Deepblue1996 opened #92 "Hello, I'd like to ask you a question"
I want to achieve ios background bluetooth broadcast data transmission，I looked for information on the Internet，plist File Required background modes item add App communicates using CoreBluetooth and App shares data using CoreBluetooth.I have solved the background program to stop running, but bluetooth is not broadcast out.

[2018-10-16 12:33] Diiaablo95 commented on #92
Bluetooth ID is not broadcasted during background. As explicitely stated in the [Apple programming guide](https://developer.apple.com/library/archive/documentation/NetworkingInternetWeb/Conceptual/CoreBluetooth_concepts/CoreBluetoothBackgroundProcessingForIOSApps/PerformingTasksWhileYourAppIsInTheBackground.html#//apple_ref/doc/uid/TP40013257-CH7-SW1).

[2018-10-22 08:37] #92 closed

[2018-12-10 06:24] averyhome opened #93 "i want konw when it adapt swift4.2,"
it is very nice
bug it do not for swift 4.2
can you adapt it

[2019-02-14 16:53] aelam commented on #16
is there any replacement for this?

[2019-02-23 11:16] bernard-trackster commented on #93
Yes me too. Not sure why this library is not getting updated

[2019-04-25 00:20] 350541732 opened #95 "Is this library suitable for modbus protocol communication with iOS devices and some meter devices?"
Is this library suitable for modbus protocol communication with iOS devices and some meter devices? thanks

[2019-05-08 22:30] Maverick1000 opened #96 "About More Then one BKPeripheral"
I am able to get two iPhones to talk over blue tooth using your framework. In second application I have added two classes of BKPeripheral with the same serviceUUID and characteristicUUID to match what is in the application that has BKCentral.  The second class of BKPeripheral I change the localName to something else.

When running the application that has BKCentral the scanContinuouslyWithChangeHa

[2019-05-08 22:47] Maverick1000 opened #97 "How to Add CBService to BKPeripheral"
How would I go about adding an CBService to my iOS iPhone application that has created an BKPeripheral???

[2019-05-08 23:22] #97 closed

[2019-05-08 23:22] #96 closed

[2019-08-30 07:51] Monkey-Sun commented on #93
Dear author, can you adapt it for swift 4.x.

[2020-02-21 07:55] hamzaozturk commented on #93
The library supports Swift 5 now.

[2020-02-21 07:56] hamzaozturk commented on #80
The library supports Xcode 11 and iOS 13 now.

[2020-04-07 14:30] josipbernat commented on #93
I believe you need to update CocoaPods because current release (0.4) isn't compatible with Swift 5.

[2020-05-14 02:50] zsh7887 opened #99 "configurationUUID"
let configuration = BKConfiguration(dataServiceUUID: serviceUUID, dataServiceCharacteristicUUID: characteristicUUID)
            try central.startWithConfiguration(configuration)

[2020-06-01 21:04] adamontherun commented on #65
Readme is still showing 0.2.0

Which had some errors when i tried to build. bumping to 0.4.0 helped

[2020-06-03 03:58] Steve-001 commented on #44
mark

[2020-07-12 13:42] Zhejing-Chin opened #101 "discoveries is empty"
I have used the LightBlue App to connect to my bluetooth printer(means it is scannable) but any ideas why the discovery list is always empty?

output as below:
"Discovery List"
[]

[2020-07-12 13:45] #101 closed

[2020-09-07 06:58] DreamLCM opened #102 "SMP Error"
error:  https://github.com/rhummelmose/BluetoothKit.git has no Package.swift manifest for version 0.4.0

[2020-09-11 18:28] MHX792 opened #103 "Example not working"
See screenshot:

<img width="274" alt="Screenshot 2020-09-11 at 20 28 10" src="https://user-images.githubusercontent.com/12123471/92960116-51d8d980-f46d-11ea-8e30-53e0cac50010.png">

[2020-09-21 04:10] beilusen commented on #103
You need to add the framework prompted by the error in General

[2020-10-23 12:58] stonko1994 opened #104 "WatchOS support"
`CoreBluetooth` is available since `WatchOS` 4.0. Are there any plans to support it?

[2020-11-02 08:54] dalehqb opened #105 "Ble startPeripheral in background mode data loss!!!"
I run the BkExample in Peripheral Role.
When in forgound mode,In works Ok,Advertising Service UUIDs
but when App in background mode, Advertising broadcast without Service UUIDs.
Thanks!

[2020-11-10 08:28] bluce-clj commented on #103
[16:13:49.473] Error from scanning: internalError(underlyingError: Optional(BluetoothKit.BKCentralStateMachine.BKError.transitioning(currentState: BluetoothKit.BKCentralStateMachine.State.scanning, validStates: [BluetoothKit.BKCentralStateMachine.State.available])))

[2020-11-10 08:29] bluce-clj commented on #103
add third framework fix this prompted, but run center mode show error.

[2020-12-02 15:20] Cipherdale opened #106 "How to stop scanning after connected?"
Dear creator
Thank you for making BluetoothKit framework, it's help me a lot

the library is work beautifully, but i have one question, how to stop scanning? im already success to send data from peripheral to central, i tried both method scan with duration, and scan continously, and everything work, but how to stop central from scanning, because it doesn't make a sense if central already connected

[2020-12-04 03:07] ali0201 opened #107 "Will you support br/edr?"

[2021-01-12 20:06] AMBIENTE1 opened #108 "pod install"
my Podfile:
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '10.0'
use_frameworks!

pod 'BluetoothKit', '~> 0.4.0'

Installing BluetoothKit (0.4.0)
[!] Unable to determine Swift version for the following pods:

- `BluetoothKit` does not specify a Swift version and none of the targets (`Pods`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the

[2021-02-24 03:22] 979881765 opened #109 "Multiple subscriptions"
How the characteristics of multiple subscription notice at the same time

[2021-03-01 18:18] rhummelmose commented on #109
I think there's a PR open for that: https://github.com/rhummelmose/BluetoothKit/pull/91

[2021-03-01 18:18] #109 closed

[2021-03-25 08:50] zinwalin commented on #11
same issue on iPhone XS Max

[2021-03-25 08:55] zinwalin commented on #103
[16:52:21.732] Error from scanning: internalError(underlyingError: Optional(BluetoothKit.BKCentralStateMachine.BKError.transitioning(currentState: BluetoothKit.BKCentralStateMachine.State.scanning, validStates: [BluetoothKit.BKCentralStateMachine.State.available])))[16:52:24.483]

[2021-03-26 01:58] zinwalin commented on #108
same here.

[2021-03-26 20:53] ironrustem opened #110 "Error nil in central.scanWithDuration"
I have problem. I scan with central.scanWithDuration, but I get nil error. Can you help me please? Why?

My code:`

    private var discoveries = [BKDiscovery]()
    let central = BKCentral()

    func central(_ central: BKCentral, remotePeripheralDidDisconnect remotePeripheral: BKRemotePeripheral) {
        print("DidDisconnect")
    }

    func availabilityObserver(_ availabilityObservable: BKAv

[2021-06-21 12:57] JeremiSharkboy commented on #108
ENV['SWIFT_VERSION'] = '5'
source 'https://github.com/CocoaPods/Specs.git'
platform :osx, '10.10'
target 'Nine.CLP' do
use_frameworks!

pod 'BluetoothKit'

end
    post_install do |installer|
        installer.pods_project.targets.each do |target|
            target.build_configurations.each do |config|
                config.build_settings['SWIFT_VERSION'] = '5.0'
            end
        end

[2021-07-28 19:24] rhummelmose commented on #110
Check the example please :)

[2021-07-28 19:26] rhummelmose commented on #108
This should work with newest version

[2021-08-31 14:46] taylorcenters opened #112 "Is there support for passkey or OOB BLE pairing methods?"
From what I have read, this does not seem to be possible as part of BluetoothCore API. Has any of these capabilities been exposed as part of this project?

[2021-09-07 00:29] krishtoautomate opened #113 "keyboard and mouse bluetooth driver"
Hi,
I searched many open source projects and couldnt find any answer and someone here might know and help.

I want to create a virtual keyboard or mouse in mac which will connect to iphone via bluetooth and my keyboard and mouse events in macos are applied to ios device.

any help is appreciated. thanks

[2021-12-15 12:58] piao-AUV opened #114 "Where is the example project?"
I cannot find it.

[2021-12-23 13:20] 643824979 commented on #110
The example also returns an error

[2022-01-03 03:45] tianzhuqiao opened #115 "Crashes when send large data."
Thanks for the great project. It works perfectly when sending small amount of data (e.g., < 1k). However, crashes when sending large data (e.g., ~1M bytes). Looks like the `processSendDataTasks` function used in `sendData` is recursive (e.g., on my phone, each call sends 182 bytes). Does it mean that it doesn't support sending large data (e.g., ~M bytes) (limited by the stack size)?

Why do we use

[2022-01-04 11:11] furiosFast commented on #102
same problem

[2022-04-25 14:23] fummicc1 commented on #102
I think using specifying `master` branch on installing this package will be solve the problem:)

[2022-06-03 01:16] hrishav503 opened #116 "Data Transfer Size Limitation"
Is there a limitation in data transfer size? can transfer small size of data but once the size increase data cannot be received? issues is generally seen when data gets higher in size which is 60000, 70000 bytes.

my data sending code,

 _**let navLogData = NSKeyedArchiver.archivedData(withRootObject: navDict)
            Logger.info("Sending to \(remotePeripheral.name)")
            central.sendD

[2022-06-03 02:56] hrishav503 commented on #115
did you find any solution sir?

[2022-06-03 16:16] tianzhuqiao commented on #115
Not really. Tried to replace the recursive function with a for loop; but for some unknown reason, it only runs intermittently.

[2022-10-14 01:15] bird1423 opened #118 "Configuration does not support full scan"
Problem：
 let configuration = BKConfiguration(dataServiceUUID: serviceUUID, dataServiceCharacteristicUUID: characteristicUUID)
 try central.startWithConfiguration(configuration)

I want to scan all Bluetooth devices. I find that the configuration item cannot be set, and the UUID is empty, but the device cannot be scanned

[2022-10-14 01:15] bird1423 opened #119 "Configuration does not support full scan"
Problem：
 let configuration = BKConfiguration(dataServiceUUID: serviceUUID, dataServiceCharacteristicUUID: characteristicUUID)
 try central.startWithConfiguration(configuration)

I want to scan all Bluetooth devices. I find that the configuration item cannot be set, and the UUID is empty, but the device cannot be scanned

[2022-10-14 01:16] #118 closed